<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Page Builder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="eraseElement()"  >Eraser</a>
        </li>
        <li>
          <button class="btn btn-outline-primary rounded-pill" (click)="saveRenderedHTML()">Save Template</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Sidebar / Toolbox -->
<div id="toolbox" class="toolbox bg-light" style="height: calc(100vh - 56px);">
  <div id="blocks" class="toolbox-section">
    <button class="btn btn-outline-primary w-100 mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'row'" 
        (dragstart)="dragStart($event)">Row</button>
        
        <button class="btn btn-outline-primary w-100 mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'column'" 
        (dragstart)="dragStart($event)">Column</button>

        <button class="btn btn-outline-primary w-100 mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'text'" 
        (dragstart)="dragStart($event)">Text</button>

        <button class="btn btn-outline-primary w-100 mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'image'" 
        (dragstart)="dragStart($event)">Image</button>
        <button class="btn btn-outline-primary w-100 mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'video'" 
        (dragstart)="dragStart($event)">Video</button>
        <button class="btn btn-outline-primary w-100 mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'button'" 
        (dragstart)="dragStart($event)">button</button>

        <div class="row">


      
        <button class="btn btn-outline-primary col  mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'h1'" 
        (dragstart)="dragStart($event)">h1</button>

        <button class="btn btn-outline-primary col  mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'h2'" 
        (dragstart)="dragStart($event)">h2</button>

        <button class="btn btn-outline-primary  col mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'h3'" 
        (dragstart)="dragStart($event)">h3</button>

        <button class="btn btn-outline-primary col  mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'h4'" 
        (dragstart)="dragStart($event)">h4</button>

        <button class="btn btn-outline-primary col mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'h5'" 
        (dragstart)="dragStart($event)">h5</button>

        <button class="btn btn-outline-primary  col mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'h6'" 
        (dragstart)="dragStart($event)">h6</button>

      </div>
        <button class="btn btn-outline-primary w-100 mb-2 draggable " 
        draggable="true" 
        [attr.data-type]="'spacer'" 
        (dragstart)="dragStart($event)">spacer</button>
  </div>
  <div id="elements" class="toolbox-section">
   
   
   
  </div>
</div>

<!-- Main Board -->
<div class="container mt-5">
  <div class="container">
    <div *ngIf="showBoard" >
      <div #board class="board" name="Board"  id="BoardId" (click)="displayProperties($event)"  
      
      (dragenter)="dragEnter($event)"
      (dragover)="dragOver($event)" (drop)="drop($event)">
        <!-- Content here -->
      </div>
      
    </div>
  <div class="container">
    <div id="properties" #propertiesPanel class="properties"    >
      <form  id="FormForText" class="">
        <h1> Text Properties</h1>
        <br>
        <div class="mb-3">
          <label for="textContent" class="form-label">Text Content </label>
          <textarea type="text" class="form-control" placeholder="Write your content Here "   id="textContent"   >
          </textarea>
          
        </div>
        <div class="mb-3">
          <label for="TextSize" class="form-label">Text Size</label>
          <input type="number" value="20px"  class="form-control" id="TextSize">
        </div>
        <div class="mb-3">
          <label for="text-color">Change Text Color</label> : 
          <input type="color" id="text-color" class="color-picker">
        </div>
       
        <div class="mb-3">
          <label for="fontSelector"> Font Family:</label>
                        <select id="fontSelector" >
                            <option value="Arial">Arial</option>
                            <option value="Verdana">Verdana</option>
                            <option value="Tahoma">Tahoma</option>
                            <option value="Times New Roman">Times New Roman</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Courier New">Courier New</option>
                            <option value="Lucida Console">Lucida Console</option>
                            <option value="Palatino Linotype">Palatino Linotype</option>
                            <option value="Trebuchet MS">Trebuchet MS</option>
                            <option value="Century Gothic">Century Gothic</option>
                            <option value="Garamond">Garamond</option>
                            <option value="Book Antiqua">Book Antiqua</option>
                            <option value="Franklin Gothic Medium">Franklin Gothic Medium</option>
                            <option value="Impact">Impact</option>
                            <option value="Comic Sans MS">Comic Sans MS</option>
                            
                        </select>
        </div>



      </form>

     
      <form id="imageForm">
        <h2>Image Properties Form</h2>
        <div class="mb-3">
          <label for="src">Image URL:</label>
          <input type="text" id="Imagesrc" placeholder="Enter image URL"><br><br>
        </div>
        <div class="mb-3">
          <label for="width">Width (px):</label>
          <input type="number" id="Imagewidth" placeholder="Enter width"><br><br>
        </div>
        <div class="mb-3">
          <label for="height">Height (px):</label>
          <input type="number" id="Imageheight" placeholder="Enter height"><br><br>
        </div>
        
         
      </form>





      <form id="spacerForm">
        <h1> Space Properties</h1>
      <br>
      <div class="mb-3">
        <label for="width">Width (px):</label>
        <input type="number" id="width" name="width" min="0"><br><br>
      </div>
      <div class="mb-3">
        <label for="height">Height (px):</label>
        <input type="number" id="height" name="height" min="0"><br><br>
      </div>
    </form>
    </div>
  </div>
</div>



